$primary_one: #0B5E3F;
$color_dark: #323232;
$primary_four: #F6AE5B;
$primary_two: #55DD4E;
$primary_wine: #c63232;

.login {
  width: 100%;
  height: auto;
  display: flex;


  justify-content: space-evenly;

  align-content: space-evenly;


  .loader {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;

    .ball1 {
      border-radius: 100%;
      transform-origin: center;
      transform: rotate(40deg);
      width: 10px;
      height: 10px;
      background: #21ca47;
      transition: 0.8s ease-in-out;
      animation: spin 0.5s ease backwards infinite alternate;
      position: absolute;
    }

    .ball2 {
      border-radius: 100%;
      transform-origin: center;
      transform: rotate(40deg);
      width: 10px;
      height: 10px;
      background: $primary_four;
      transition: 0.8s ease-in-out;
      animation: spin 0.8s ease infinite alternate;
      position: absolute;
    }

    .ball3 {
      border-radius: 100%;
      transform-origin: center;
      transform: rotate(40deg);
      width: 10px;
      height: 10px;
      background: $primary_wine;
      transition: 0.8s ease-in-out;
      animation: spin 0.9s ease forwards infinite alternate;
      position: absolute;

    }


  }


  .svg {
    overflow: hidden;
  }

  .loginSvgWrap {
    visibility: hidden;

  }

  .loginSvg {
    animation: fadeIn 0.9s ease;
    margin-left: 2%;
    width: 700px;
    height: auto;
    background: #ffffff;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    margin-bottom: 4%;


    .msg {
      height: 180px;
      width: 100%;
      text-transform: capitalize;
      font-family: "Poppins extrabold", sans-serif;
      text-align: center;
      color: #232323;
      font-size: 3rem;
    }

    .bottomMsg {
      margin-top: 5%;
      padding: 10px;
      height: 100px;
      width: 70%;
    }


  }

  .loginFormWrap {
    width: 670px;
    height: auto;
    top: 0;
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 4%;

    .formTitle {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      color: $color_dark;

      .icon {
        color: $primary_one;
      }
    }

    .msgReq {
      font-size: .9rem;
    }

    .loginForm {
      animation: fadeIn 0.9s ease;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;

      .inputWrap {
        width: auto;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: column;

        label {
          font-size: .9rem;
          font-weight: 600;
          height: 55px;
          color: $color_dark;
        }

        input {
          outline: none;
          border: none;
          width: 340px;
          height: 20px;
          box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.2);
          padding: 15px;
          border-radius: 25px;
        }

      }

      .forgotPass {
        width: 50%;
        text-align: left;
        float: left;
        height: 20px;
        font-weight: 600;
        font-size: .8rem;
   a{

   }
      }

      .bottomForm {
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 50%;
        height: 55px;

        button {
          cursor: pointer;
          font-weight: 600;
          border: none;
          background: $primary_one;
          color: #ffffff;
          border-radius: 20px;
          height: 40px;
          width: 100px;
          outline: none;
        }

        .link {
          font-weight: 500;
          font-size: .8rem;
          color: $color_dark;
        }

      }
    }


  }

  .errors {
    margin-top: 3%;
    color: #5E0B37;
    font-weight: 500;
    font-size: .9rem;
    height: 20px;
    width: auto;

    transition: 0.9s ease-in;
  }
}


@media (min-width: 1281px) {

  //CSS
  //mob offs
  .mobMenuItems{
    display: none;
  }


  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;

    align-content: space-evenly;




    .svg {
      overflow: hidden;
    }

    .loginSvgWrap {
      visibility: hidden;

    }

    .loginSvg {
      animation: fadeIn 0.9s ease;
      margin-left: 2%;
      width: 600px;
      height: auto;
      background: #ffffff;
      display: flex;
      align-content: space-between;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      padding: 15px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      margin-bottom: 4%;


      .msg {
        height: 180px;
        width: 100%;
        text-transform: capitalize;
        font-family: "Poppins extrabold", sans-serif;
        text-align: center;
        color: #232323;
        font-size: 3rem;
      }

      .bottomMsg {
        margin-top: 5%;
        padding: 10px;
        height: 100px;
        width: 70%;
      }


    }

    .loginFormWrap {
      width: 670px;
      height: auto;
      top: 0;
      display: flex;
      align-content: space-between;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      padding: 15px;
      margin-bottom: 4%;

      .formTitle {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: $color_dark;

        .icon {
          color: $primary_one;
        }
      }

      .msgReq {
        font-size: .9rem;
      }

      .loginForm {
        animation: fadeIn 0.9s ease;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;

        .inputWrap {
          width: auto;
          height: 100px;
          display: flex;
          justify-content: space-between;
          align-content: space-between;
          flex-direction: column;

          label {
            font-size: .9rem;
            font-weight: 600;
            height: 55px;
            color: $color_dark;
          }

          input {
            outline: none;
            border: none;
            width: 340px;
            height: 20px;
            box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.2);
            padding: 15px;
            border-radius: 25px;
          }

        }

        .forgotPass {
          width: 50%;
          text-align: left;
          float: left;
          height: 20px;
          font-weight: 600;
          font-size: .8rem;
          a{

          }
        }

        .bottomForm {
          display: flex;
          align-items: center;
          align-content: space-between;
          justify-items: center;
          justify-content: space-between;
          flex-direction: row;
          width: 50%;
          height: 55px;

          button {
            cursor: pointer;
            font-weight: 600;
            border: none;
            background: $primary_one;
            color: #ffffff;
            border-radius: 20px;
            height: 40px;
            width: 100px;
            outline: none;
          }

          .link {
            font-weight: 500;
            font-size: .8rem;
            color: $color_dark;
          }

        }
      }


    }

    .errors {
      margin-top: 3%;
      color: #5E0B37;
      font-weight: 500;
      font-size: .9rem;
      height: 20px;
      width: auto;

      transition: 0.9s ease-in;
    }
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .mobMenuItems{
    display: none;
  }
  //CSS

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;




    .svg {
      overflow: hidden;
    }

    .loginSvgWrap {
      visibility: hidden;

    }

    .loginSvg {
      animation: fadeIn 0.9s ease;
      margin-left: 2%;
      width: 600px;
      height: auto;
      background: #ffffff;
      display: flex;
      align-content: space-between;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      padding: 15px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      margin-bottom: 4%;


      .msg {
        height: 180px;
        width: 100%;
        text-transform: capitalize;
        font-family: "Poppins extrabold", sans-serif;
        text-align: center;
        color: #232323;
        font-size: 3rem;
      }

      .bottomMsg {
        margin-top: 5%;
        padding: 10px;
        height: 100px;
        width: 70%;
      }


    }

    .loginFormWrap {
      width: 670px;
      height: auto;
      top: 0;
      display: flex;
      align-content: space-between;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      padding: 15px;
      margin-bottom: 4%;

      .formTitle {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: $color_dark;

        .icon {
          color: $primary_one;
        }
      }

      .msgReq {
        font-size: .9rem;
      }

      .loginForm {
        animation: fadeIn 0.9s ease;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;

        .inputWrap {
          width: auto;
          height: 100px;
          display: flex;
          justify-content: space-between;
          align-content: space-between;
          flex-direction: column;

          label {
            font-size: .9rem;
            font-weight: 600;
            height: 55px;
            color: $color_dark;
          }

          input {
            outline: none;
            border: none;
            width: 340px;
            height: 20px;
            box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.2);
            padding: 15px;
            border-radius: 25px;
          }

        }

        .forgotPass {
          width: 50%;
          text-align: left;
          float: left;
          height: 20px;
          font-weight: 600;
          font-size: .8rem;
          a{

          }
        }

        .bottomForm {
          display: flex;
          align-items: center;
          align-content: space-between;
          justify-items: center;
          justify-content: space-between;
          flex-direction: row;
          width: 50%;
          height: 55px;

          button {
            cursor: pointer;
            font-weight: 600;
            border: none;
            background: $primary_one;
            color: #ffffff;
            border-radius: 20px;
            height: 40px;
            width: 100px;
            outline: none;
          }

          .link {
            font-weight: 500;
            font-size: .8rem;
            color: $color_dark;
          }

        }
      }


    }

    .errors {
      margin-top: 3%;
      color: #5E0B37;
      font-weight: 500;
      font-size: .9rem;
      height: 20px;
      width: auto;

      transition: 0.9s ease-in;
    }
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
flex-wrap: wrap;
    align-content: space-evenly;




    .svg {
      overflow: hidden;
    }

    .loginSvgWrap {
      visibility: hidden;

    }

    .loginSvg {
      float: left;
      animation: fadeIn 0.9s ease;
      margin-left: 2%;
      width: 500px;
      height: auto;
      background: #ffffff;
      display: flex;
      align-content: space-between;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      padding: 15px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      margin-bottom: 4%;


      .msg {
        height: 180px;
        width: 100%;
        text-transform: capitalize;
        font-family: "Poppins extrabold", sans-serif;
        text-align: center;
        color: #232323;
        font-size: 3rem;
      }

      .bottomMsg {
        margin-top: 5%;
        padding: 10px;
        height: auto;
        width: 70%;
      }


    }

    .loginFormWrap {

      width: 370px;
      height: auto;
      top: 0;
      display: flex;
      align-content: space-between;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      padding: 15px;
      margin-bottom: 4%;

      .formTitle {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: $color_dark;

        .icon {
          color: $primary_one;
        }
      }

      .msgReq {
        font-size: .9rem;
      }

      .loginForm {
        animation: fadeIn 0.9s ease;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;

        .inputWrap {
          width: auto;
          height: 100px;
          display: flex;
          justify-content: space-between;
          align-content: space-between;
          flex-direction: column;

          label {
            font-size: .9rem;
            font-weight: 600;
            height: 55px;
            color: $color_dark;
          }

          input {
            outline: none;
            border: none;
            width: 340px;
            height: 20px;
            box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.2);
            padding: 15px;
            border-radius: 25px;
          }

        }

        .forgotPass {
          width: 100%;
          text-align: left;
          float: left;
          height: 20px;
          font-weight: 600;
          font-size: .8rem;
         a{

         }
        }

        .bottomForm {
          display: flex;
          align-items: center;
          align-content: space-between;
          justify-items: center;
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
          height: 85px;

          button {
            cursor: pointer;
            font-weight: 600;
            border: none;
            background: $primary_one;
            color: #ffffff;
            border-radius: 20px;
            height: 40px;
            width: 100px;
            outline: none;
          }

          .link {
            font-weight: 500;
            font-size: .8rem;
            color: $color_dark;
          }

        }
      }


    }

    .errors {
      margin-top: 3%;
      color: #5E0B37;
      font-weight: 500;
      font-size: .9rem;
      height: 20px;
      width: auto;

      transition: 0.9s ease-in;
    }
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS
  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    .loginSvg {
      display: none;







    }
  }
  .loginFormWrap {
    margin-top: 17%;
    width: 100%;
    height: auto;
    top: 0;
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 4%;

    .loginForm {
      animation: fadeIn 0.9s ease;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;

      .inputWrap {
        margin: 1%;
        width: auto;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: column;

        label {
          font-size: .9rem;
          font-weight: 600;
          height: 50px;
          color: $color_dark;
        }

        input {
          outline: none;
          border: none;
          width:300px;
          height: 20px;
          box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.2);
          padding: 15px;
          border-radius: 25px;
        }

      }

      .bottomForm {

        display: flex;
        align-items: center;
        align-content: space-between;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-flow: wrap;

        button {
          cursor: pointer;
          font-weight: 600;
          border: none;
          background: $primary_one;
          color: #ffffff;
          border-radius: 20px;
          height: 40px;
          width: 100px;
          outline: none;
          margin-top: 5%;
        }

        .link {
          padding: 10px;
          text-align: center;
          width: 100%;
          font-weight: 500;
          font-size: .8rem;
          color: $color_dark;
        }

      }
    }
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

//hambugger menu

@media (min-width: 320px) and (max-width: 480px) {
  //login
  .login {
    .loginSvg {
      display: none;
    }

    .loginFormWrap {
      margin-top: 17%;
      width: 100%;
      height: auto;
      top: 0;
      display: flex;
      align-content: space-between;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      padding: 15px;
      margin-bottom: 4%;

    .loginForm {
      animation: fadeIn 0.9s ease;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;

      .inputWrap {
        margin: 5%;
        width: auto;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: column;

        label {
          font-size: .9rem;
          font-weight: 600;
          height: 55px;
          color: $color_dark;
        }

        input {
          outline: none;
          border: none;
          width:300px;
          height: 20px;
          box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.2);
          padding: 15px;
          border-radius: 25px;
        }

      }

      .bottomForm {

        display: flex;
        align-items: center;
        align-content: space-between;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-flow: wrap;

        button {
          cursor: pointer;
          font-weight: 600;
          border: none;
          background: $primary_one;
          color: #ffffff;
          border-radius: 20px;
          height: 40px;
          width: 100px;
          outline: none;
          margin-top: 5%;
        }

        .link {
          padding: 10px;
          text-align: center;
          width: 100%;
          font-weight: 500;
          font-size: .8rem;
          color: $color_dark;
        }

      }
    }
  }
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transition: 0.8s ease-in-out;
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}