$primary_one: #0B5E3F;
$primary_two: #55DD4E;
$primary_accent: #051A12;
$color_dark: #323232;
$primary_four: #F6AE5B;
$color_wine: #5E0B37;
$primary_wine: #5E0B37;


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS
  //mob offs
  .mobMenuItems{
    display: none;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .mobMenuItems{
    display: none;
  }
  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

  .createReview {
  width: 100%;
  height: auto;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: wrap;
  flex-wrap: wrap;
  animation: fadeIn 0.8s ease-in-out;
  .illustration {
    animation: slide 0.8s ease-in-out;
    width: 100%;
    height: auto;
    background: $primary_wine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .titleTxt {
      font-size: 2rem;
      color: $primary_four;
      height: 140px;
      font-weight: 700;
      padding: 10px;
    }

    .aiImg {
      animation: fadeIn 0.9s ease;
      max-width: 390px;
      object-fit: cover;

      img {
        max-width: 380px;
        object-fit: cover;
      }

    }
    .bottomText{
      font-size: 0.9rem;
      height: auto;
      padding: 20px;
      color: white;
      font-weight: 500;
      margin-top: 2%;
      .note{
        font-weight: 600;
        color: $primary_four;
      }
    }

  }

    .createRevformWrap {
      width: 100%;
      height: auto;
      background: #ffffff;
      display: flex;
      align-content: center;
      flex-direction: column;
      align-items: center;
    }

      .formWrap {
        width: 100%;
        height: auto;
        background: white;

        .form {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          align-content: space-between;
          flex-direction: column;

          .fileInputWrap {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            align-content: space-between;

          }

          .inputWrap {
            width: auto;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-direction: column;

            label {
              font-size: .9rem;
              font-weight: 600;
              height: 55px;
              color: $color_dark;
            }

            .inputCont {

              border: none;
              width: 340px;
              height: 20px;
              box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
              padding: 15px;
              border-radius: 25px;
              display: flex;
              align-content: space-evenly;
              align-items: center;
              flex-direction: row;
              justify-content: space-evenly;
              justify-items: center;

              input, select {
                outline: none;
                border: none;
                width: 90%;
                height: 20px;
                box-shadow: none;
                border-radius: 0;
                background: none;

                &:focus, &:active {
                  background: none;
                  outline: none;
                }
              }
            }

            .textCont {

              border: none;
              width: 340px;
              height: 70px;
              box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
              padding: 15px;
              border-radius: 25px;
              display: flex;
              align-content: space-evenly;
              align-items: center;
              flex-direction: column;
              justify-content: space-evenly;
              justify-items: center;

              .charCount {

                text-align: right;
                width: 100%;
                height: 20px;
                font-size: 0.7rem;
                transition: 0.8s ease-in-out;
                animation: fadeIn 0.8s ease-in-out;

                p {
                  color: #0A5C3E;
                  transition: 0.8s ease-in-out;
                  animation: fadeIn 0.8s ease-in-out;
                }
              }

              textarea {
                outline: none;
                border: none;
                width: 100%;
                height: 70px;
                box-shadow: none;
                border-radius: 0;
                background: none;

                &:focus, &:active {
                  background: none;
                  outline: none;
                }
              }
            }


          }

          .bottomForm {
            display: flex;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
            flex-direction: row;
            width: 50%;
            height: auto;
            bottom: 0;
            margin-top: 10%;

            button {
              cursor: pointer;
              border: none;
              background: $primary_two;
              color: #ffffff;
              border-radius: 20px;
              height: 40px;
              width: auto;
              outline: none;
              font-weight: 900;
              padding: 10px;
            }
          }

        }
      }

}


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
  }

  .btn {
    border: 1px solid gray;
    color: $color_dark;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;

  }
  /*

  .upload-btn-wrapper input[type=file] {
    font-size: 60px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    margin: 1%;
  }
  */



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

//hambugger menu

@media (min-width: 320px) and (max-width: 480px) {




  .createReview {
    width: 100%;
    height: auto;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    animation: fadeIn 0.8s ease-in-out;

    .illustration {
      animation: slide 0.8s ease-in-out;
      width: 100%;
      height: auto;
      background: $primary_wine;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      .titleTxt {
        font-size: 2rem;
        color: $primary_four;
        height: 140px;
        font-weight: 700;
        padding: 10px;
      }

      .aiImg {
        animation: fadeIn 0.9s ease;
        max-width: 390px;
        object-fit: cover;

        img {
          max-width: 380px;
          object-fit: cover;
        }

      }
      .bottomText{
        font-size: 0.9rem;
        height: auto;
        padding: 20px;
        color: white;
        font-weight: 500;
        margin-top: 2%;
        .note{
          font-weight: 600;
          color: $primary_four;
        }
      }

    }
    .createRevformWrap {
      width: 90%;
      height: auto;
      background: white;
      display: flex;
      align-content:center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .fillTxt{
        margin-top: 4%;
        height: auto;
        width: 200px;
        border-radius: 25px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        align-content: space-between;

        section{

          line-height: 30px;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background-color: $primary_one;
          color: white;
        }
      }
      small{
        padding: 10px;
      }
      .form{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        align-content: space-between;
        flex-direction: column;
        .fileInputWrap{
          width: 50%;
          height:auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          align-content: space-between;

        }
        .inputWrap {
          width: auto;
          height: 120px;
          display: flex;
          justify-content: space-between;
          align-content: space-between;
          flex-direction: column;


          .errors {
            margin-top: 3%;
            color: #5E0B37;
            font-weight: 500;
            font-size: .9rem;
            height: 30px;
            padding: 10px;
            width: 100%;

            transition: 0.9s ease-in;
          }

          label {
            font-size: .9rem;
            font-weight: 600;
            height: 55px;
            color: $color_dark;
          }
          .inputCont {

            border: none;
            max-width: 290px;
            height: 20px;
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
            padding: 15px;
            border-radius: 25px;
            display: flex;
            align-content: space-evenly;
            align-items: center;
            flex-direction: row;
            justify-content: space-evenly;
            justify-items: center;

            input, select {
              outline: none;
              border: none;
              width: 90%;
              height: 20px;
              box-shadow: none;
              border-radius: 0;
              background: none;

              &:focus, &:active {
                background: none;
                outline: none;
              }
            }
          }

          .textCont {

            border: none;
            width: 300px;
            height: 70px;
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
            padding: 15px;
            border-radius: 25px;
            display: flex;
            align-content: space-between;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            justify-items: center;


            .charCount {
              text-align: right;
              width: 100%;
              height: 20px;
              font-size: 0.7rem;
              transition: 0.8s ease-in-out;
              animation: fadeIn 0.8s ease-in-out;

              p {
                color: #0A5C3E;
                transition: 0.8s ease-in-out;
                animation: fadeIn 0.8s ease-in-out;
              }
            }

            textarea {
              background-color: #5E0B37;
              outline: none;
              border: none;
              width: 100%;
              height: 70px;
              box-shadow: none;
              border-radius: 0;
              background: none;

              &:focus, &:active {
                background: none;
                outline: none;
              }
            }
          }


        }

        .bottomForm {
          display: flex;
          align-items: center;
          align-content: center;
          justify-items: center;
          justify-content: center;
          flex-direction: row;
          width: 50%;
          height: auto;
          bottom: 0;
          margin-top: 10%;

          button {
            cursor: pointer;
            border: none;
            background: $primary_two;
            color: #ffffff;
            border-radius: 20px;
            height: 40px;
            width: auto;
            outline: none;
            font-weight: 900;
            padding: 10px;
          }
        }

      }
    }
  }


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
  }

  .btn {
    border: 1px solid gray;
    color: $color_dark;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;

  }





}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}